<div _ngcontent-etr-c124="" class="row">

  <div _ngcontent-etr-c124="" class="col-xl-6 col-md-12">

    <div _ngcontent-etr-c93="" class="card ng-tns-c93-96 ng-trigger ng-trigger-cardRemove table-card"
      style="opacity: 1;">
      <div _ngcontent-etr-c93="" class="card-header ng-tns-c93-96 ng-star-inserted" style="">
        <h5 _ngcontent-etr-c93="" class="ng-tns-c93-96 ng-star-inserted">Teams</h5>
        <!---->
        <!---->
        <div _ngcontent-etr-c93="" class="card-header-right ng-tns-c93-96 ng-star-inserted">
          <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalProject.show(); type='addteam';"><i
              class="feather icon-plus"></i> Add Team</button>

        </div>

        <!---->
        <!---->
      </div>
      <!---->
      <div _ngcontent-etr-c93="" class="ng-tns-c93-96 ng-trigger ng-trigger-collapsedCard ng-star-inserted"
        style="overflow: hidden;">
        <div _ngcontent-etr-c93="" class="card-body ng-tns-c93-96 p-0 ng-star-inserted" style="">
          <div _ngcontent-etr-c124="" class="table-responsive ng-tns-c93-96">
            <table _ngcontent-etr-c124="" class="table table-hover mb-0">
              <thead _ngcontent-etr-c124="">
                <tr _ngcontent-etr-c124="">

                  <th _ngcontent-etr-c124="">Id</th>
                  <th _ngcontent-etr-c124="">Name</th>
                  <th _ngcontent-etr-c124="">Members</th>
                  <th _ngcontent-etr-c124="">Action</th>

                </tr>
              </thead>
              <tbody _ngcontent-etr-c124="">
                <tr _ngcontent-etr-c124="" *ngFor="let x of team">

                  <td _ngcontent-etr-c124="">{{x.id}}</td>
                  <td _ngcontent-etr-c124="">{{x.name}}</td>
                  <td _ngcontent-etr-c124="">{{x.count}}</td>

                  <td _ngcontent-pqn-c142=""><a _ngcontent-pqn-c142="" (click)="openupdate(x);type='teamupdate'"
                      ngbTooltip="Edit"><i _ngcontent-pqn-c142=""
                        class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i
                        (click)='deleteconfirm(x.id,"team")' ngbTooltip="Delete the banner"
                        class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <!---->
      </div>
      <!---->
      <!---->
      <!---->
      <!---->
    </div>

  </div>
  <div _ngcontent-etr-c124="" class="col-xl-6 col-md-12">

    <div _ngcontent-etr-c93="" class="card ng-tns-c93-96 ng-trigger ng-trigger-cardRemove table-card"
      style="opacity: 1;">
      <div _ngcontent-etr-c93="" class="card-header ng-tns-c93-96 ng-star-inserted" style="">
        <h5 _ngcontent-etr-c93="" class="ng-tns-c93-96 ng-star-inserted">Website</h5>
        <!---->
        <!---->
        <!-- <div _ngcontent-etr-c93="" class="card-header-right ng-tns-c93-96 ng-star-inserted">
          <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalProject.show(); type='addsite';"><i
              class="feather icon-plus"></i> Add Website</button>

        </div> -->

        <!---->
        <!---->
      </div>
      <!---->
      <div _ngcontent-etr-c93="" class="ng-tns-c93-96 ng-trigger ng-trigger-collapsedCard ng-star-inserted"
        style="overflow: hidden;">
        <div _ngcontent-etr-c93="" class="card-body ng-tns-c93-96 p-0 ng-star-inserted" style="">
          <div _ngcontent-etr-c124="" class="table-responsive ng-tns-c93-96">
            <table _ngcontent-etr-c124="" class="table table-hover mb-0">
              <thead _ngcontent-etr-c124="">
                <tr _ngcontent-etr-c124="">

                  <th _ngcontent-etr-c124="">Id</th>
                  <th _ngcontent-etr-c124="">URL</th>
                  <th _ngcontent-etr-c124="">Team</th>
                  <th _ngcontent-etr-c124="">Action</th>


                </tr>
              </thead>
              <tbody _ngcontent-etr-c124="">
                <tr _ngcontent-etr-c124="" *ngFor="let x of sites">

                  <td _ngcontent-etr-c124="">{{x.id}}</td>
                  <td _ngcontent-etr-c124="">{{x.url}}</td>
                  <td _ngcontent-etr-c124="">{{x.team}}</td>
                  <td _ngcontent-pqn-c142=""><a _ngcontent-pqn-c142="" (click)="openupdate1(x);type='updatesite'"
                      ngbTooltip="Edit"><i _ngcontent-pqn-c142=""
                        class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a>
                        <!-- <a href="javascript:"><i
                        (click)='deleteconfirm(x.id,"website")' ngbTooltip="Delete the banner"
                        class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a> -->
                      
                      </td>


                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <!---->
      </div>
      <!---->
      <!---->
      <!---->
      <!---->
    </div>

  </div>
  <div _ngcontent-etr-c124="" class="col-xl-6 col-md-12">
    <div class="merge-card">
      <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
        <h5 class="mb-0">SMS Settings</h5>
        <button type="button"
          (click)="this.editProfile = !this.editProfile; this.editProfileIcon = this.editProfile ? 'icon-x': 'icon-edit';"
          class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
          aria-expanded="false" aria-controls="pro-det-edit-1 pro-det-edit-2">
          <i class="feather" [ngClass]="editProfileIcon"></i>
        </button>
      </app-card>
      <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">SID</label>
          <div class="col-sm-9">
            {{sms.api}}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">Auth Token</label>
          <div class="col-sm-9">
            {{sms.token}}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">Mobile Number</label>
          <div class="col-sm-9">
            {{sms.mobile}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">SMS Content</label>
          <div class="col-sm-9">
            <p class="mb-0 text-muted">Hi "name", {{sms.content}} Your Case Id is 'CASEID'</p>

          </div>
        </div>
      </app-card>
      <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">SID</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="SID" [(ngModel)]="sms.api" value="Lary Doe">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">Auth Token</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Auth Token" [(ngModel)]="sms.token" value="Lary Doe">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">Mobile Number</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Mobile Number" [(ngModel)]="sms.mobile" value="Lary Doe">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">SMS Content</label>
          <div class="col-sm-9">
            <textarea class="form-control" [(ngModel)]="sms.content"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9">
            <button type="button" class="btn btn-primary" (click)="updatesms()">Save</button>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  <div _ngcontent-etr-c124="" class="col-xl-6 col-md-12">
    <div class="merge-card">
      <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Lender Passcode</h5>
        <button type="button"
          (click)="this.editContact = !this.editContact; this.editProfileIcon2 = this.editContact ? 'icon-x': 'icon-edit';"
          class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit1"
          aria-expanded="false" aria-controls="pro-det-edit-1 pro-det-edit-2">
          <i class="feather" [ngClass]="editProfileIcon2"></i>
        </button>
      </app-card>
      <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editContact">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">Lender Passcode</label>
          <div class="col-sm-9">
            {{passcode}}
          </div>
        </div>

       
      </app-card>
      <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editContact">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bolder">Lender Passcode</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Full Name" [(ngModel)]="passcode" value="Lary Doe">
          </div>
        </div>

     
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9">
            <button type="button" class="btn btn-primary" (click)="updatepasscode()">Save</button>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
<app-ui-modal #modalProject>
  <div class="app-modal-header" *ngIf="type=='addteam'">
    <h5 class="modal-title">Add Team</h5>
    <button type="button" class="clo
    se basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body" *ngIf="type=='addteam'">

    <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="lendername">Team Name </label>
            <input class="form-control input-md" id="text" name="lendername" type="text" placeholder="Enter Lender Name"
              [ngClass]="{'is-invalid': !lendername.valid && (lendername.dirty || lendername.touched || isSubmit)}"
              #lendername="ngModel" required lendername [(ngModel)]="formInput2.name">
            <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)"
              id="validation-cmbGear-error"
              class="error jquery-validation-error small form-text invalid-feedback">Please enter the Name
            </label>
          </div>
        </div>











      </div>
      <!-- <div class="form-group text-center">
          <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
        </div> -->
      <hr>
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6 text-left">

        </div>
        <div class="col-sm-6 text-right">
          <div class="custom-control custom-switch">
            <button type="button" uiSref="work" class="btn btn-primary btn-raised" [disabled]="buttonloading"
              (click)="addlender(validationForm)"> ADD<div style="zoom:0.7;" class="spinner-border"
                *ngIf="buttonloading" role="status"></div> </button>

          </div>
        </div>
      </div>
    </form>


  </div>

  <!--  Update modal start -->
  <div class="app-modal-header" *ngIf="type=='teamupdate'">
    <h5 class="modal-title">Update Team Details</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body" *ngIf="type=='teamupdate'">

    <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="lendername">Team Name </label>
            <input class="form-control input-md" id="text" name="lendername" type="text" placeholder="Enter Lender Name"
              [ngClass]="{'is-invalid': !lendername.valid && (lendername.dirty || lendername.touched || isSubmit)}"
              #lendername="ngModel" required lendername [(ngModel)]="update.name">
            <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)"
              id="validation-cmbGear-error"
              class="error jquery-validation-error small form-text invalid-feedback">Please enter the Name</label>
          </div>
        </div>

      </div>
      <!-- <div class="form-group text-center">
          <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
        </div> -->
      <hr>
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6 text-left">

        </div>
        <div class="col-sm-6 text-right">
          <div class="custom-control custom-switch">
            <button type="button" uiSref="work" class="btn btn-primary btn-raised" [disabled]="buttonloading"
              (click)="updatelender(validationForm)"> Update <div style="zoom:0.7;" class="spinner-border"
                *ngIf="buttonloading" role="status"></div></button>

          </div>
        </div>
      </div>
    </form>
    <!--  Update modal end  -->


  </div>


  <!--site                   -->
  <div class="app-modal-header" *ngIf="type=='addsite'">
    <h5 class="modal-title">Add Site</h5>
    <button type="button" class="clo
    se basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body" *ngIf="type=='addsite'">

    <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">

      <div class="form-group">
        <label class="form-control-label" for="lendername">Website </label>
        <input class="form-control input-md" id="text" name="Website" type="text" placeholder="Enter Webiste URL"
          [ngClass]="{'is-invalid': !lendername.valid && (lendername.dirty || lendername.touched || isSubmit)}"
          #lendername="ngModel" required lendername [(ngModel)]="update.name">
        <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)"
          id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please
          enter the Name
        </label>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="team">Team </label>
        <select class="form-control" name='team' [(ngModel)]="update.team" id="exampleFormControlSelect1">

          <option selected *ngFor="let i of team" value={{i.id}}>{{i.name}}</option>

        </select>
        <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)"
          id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Select
          the Team
        </label>
      </div>

      <!-- <div class="form-group text-center">
          <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
        </div> -->
      <hr>
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6 text-left">

        </div>
        <div class="col-sm-6 text-right">
          <div class="custom-control custom-switch">
            <button type="button" uiSref="work" class="btn btn-primary btn-raised" [disabled]="buttonloading"
              (click)="addsite(update.name,update.team)"> ADD<div style="zoom:0.7;" class="spinner-border"
                *ngIf="buttonloading" role="status"></div> </button>

          </div>
        </div>
      </div>
    </form>


  </div>

  <!--  Update modal start -->
  <div class="app-modal-header" *ngIf="type=='updatesite'">
    <h5 class="modal-title">Update Site </h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body" *ngIf="type=='updatesite'">

    <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
      <div class="form-group">
        <label class="form-control-label" for="lendername">Website </label>
        <input class="form-control input-md" id="text" name="Website" type="text" placeholder="Enter Webiste URL"
          [ngClass]="{'is-invalid': !lendername.valid && (lendername.dirty || lendername.touched || isSubmit)}"
          #lendername="ngModel" required lendername [(ngModel)]="update.name">
        <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)"
          id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please
          enter the Name
        </label>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="team">Team </label>
        <select class="form-control" name='team' [(ngModel)]="update.team" id="exampleFormControlSelect1">

          <option selected *ngFor="let i of team" value={{i.id}}>{{i.name}}</option>

        </select>
        <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)"
          id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Select
          the Team
        </label>
      </div>
      <!-- <div class="form-group text-center">
          <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
        </div> -->
      <hr>
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6 text-left">

        </div>
        <div class="col-sm-6 text-right">
          <div class="custom-control custom-switch">
            <button type="button" uiSref="work" class="btn btn-primary btn-raised" [disabled]="buttonloading"
              (click)="updatesite(validationForm)"> Update <div style="zoom:0.7;" class="spinner-border"
                *ngIf="buttonloading" role="status"></div></button>

          </div>
        </div>
      </div>
    </form>
    <!--  Update modal end  -->


  </div>

</app-ui-modal>
<ng2-toasty [position]="global.position"></ng2-toasty>
